@import "../css/styles.css"
$primary-color: #a1b5eb;
$secondary-color: #c1d8cb;  
$tertiary-color:  #8ca898;


/* focus variable fix
$focus-ring-width:      .25rem;
$focus-ring-opacity:    .25;
$focus-ring-color:      rgba($primary, $focus-ring-opacity);
$focus-ring-blur:       0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-co
*/

/* bootstrap css grid
 $enable-grid-classes: false 
 $enable-cssgrid: true */