@mixin theme ($theme:NavStack){
  margin: 20px 5px;
  padding: 3px;
  height: 70px;
  width:100%;
  text-transform: uppercase;
  color: #8989b191;
  grid-area: span;
  background:linear-gradient(blur);
  backdrop-filter: blur(3px);

}

@mixin theme ($theme:ColorTransition){

/*color transition effect*/   
color: #8989b1; /* Initial color */
transition: color 0.9s ease;
color: #d8b4b8; /* Color change on hover */

}

.footer-nav {
  @include theme($theme:NavStack);
  @include theme($theme:ColorTransition);
}
  
  
$container-component:

.container {
  display: flex;
  justify-content:space-between;
  gap: ;
  border: #8989b1;
  background-color: #06061c;

  

  // Color mode variables in _root.scss
@include color-mode(dark) {
  // CSS variable overrides here...
}
