
@import '~mdb-ui-kit/css/mdb.min.css';

html{
  height: 100%;

}







.bodypage {
  margin:auto;
  overflow:hidden;
  font-family: 'Source Code Pro', monospace;

  align-items: center;
  font-weight: 400;
  background-color: rgb(14, 29, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.25)
  overflow-y: scroll;
  position: relative;

  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden; /*idk*/
}



.force-overflow {
	min-height: 450px;
}





/* position: relative on element spying on, usually body*/
.nav {


}


.section{


  overflow-y:scroll;
  display: inline-block;
 
  justify-content: space-evenly;
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  max-width: 120px;

  
  
  
  }




  .container:hover {
    border-color: #f7cccc;
    transition-delay:200ms;
    transition-timing-function:ease-in;
    transition-duration:600ms; /*fix*/
    font-weight: 400;      

    
    font-weight:400;
    color: rgb(252, 232, 249);
  
  }
  

/*
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);  !!!
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.05); */
  


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    color: #cbebf7f5;
    box-shadow: 0 4px pxgba(155, 141, 212, 0.233);
}


.flex-container { 


}







* { 
  
  scroll-behavior: smooth;
  initial-letter: 2;
  
  font-size:large;
  justify-content: space-between; 
  

}


.flex-grow {
  flex: 1 0 auto;

}


/*make div containters somehow translucent bg*/

/* .navbar {
background: linear-gradient(rgba);

}



/*footer link inline*/
.footer {
  margin: 15px;

 
  background: rgba(255, 255, 255, 0.11); 
 grid-area: span;
 background:linear-gradient(blur);
 backdrop-filter: blur(3px);
 text-decoration: none;
 justify-content: end;
 -webkit-backdrop-filter: blur(6.9px);
 top: 10px;


}





/* .navmake blurry effect */
.navbar-nav {
 margin: 15px;

 
   background: rgba(243, 127, 152, 0.075); 
  grid-area: span;
  background:linear-gradient(blur);
  backdrop-filter: blur(2px);
  text-decoration: none;
  justify-content: end;
  -webkit-backdrop-filter: blur(4.9px);
  top: 10px;

}

.div {


}






/*back to top button hidden*/
#myBtn {
  position:fixed;
  bottom: 36px;
  right: 30px;
  inline-size: 90px;
  z-index: 1000;
  cursor:grabbing;
  display: none;

}

/* #myBtn:hover {
  background-color: #555;

} */



.nav-link {
  text-decoration: none;

}

.footer:hover fab fa-linkedin{
  transform:translate3d(0,-10px,20px);
  color:#077099;
}


.navbar:hover {

  text-decoration: none;
  background-color: ;
  
}


  .nav-link:hover::before {
    transform: scaleX(1);


  }
  




.li {


}


/* sceollbar*/
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(24, 11, 14);
  outline: 2px solid rgb(22, 1, 6);
}






/*
glassmorphic From https://css.glass /* 


background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);  !!!
-webkit-backdrop-filter: blur(6.9px);
border: 1px solid rgba(255, 255, 255, 0.05); */
