
@import '~mdb-ui-kit/css/mdb.min.css';

html{
  height: 100%;





}



/* dark theme bg    background-color: rgb(4, 20, 9);
 lite theme bg      rgb(204, 223, 210);
*/

/* apply this theme to homepage id */
.homepage  {

  margin:auto;
  overflow:hidden;
  font-family: 'Source Code Pro', monospace;


  background-color: rgb(4, 20, 9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: relative;

  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden; /*idk*/


  color: #3b4768;
  box-shadow: 0 6px 20px rgba(23, 28, 100, 0.349);
  backdrop-filter: blur(6.9px);  !!!
  -webkit-backdrop-filter: blur(6.9px);





}


.site-title {
  font-style:italic;
  font-size: 30px;
  
}


.header, .nav {



}



#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}




/*themeing target*/

.container {

  box-shadow: 0 6px 20px rgba(23, 28, 100, 0.349);
  backdrop-filter: blur(6.9px);  !!!
  -webkit-backdrop-filter: blur(6.9px);




}



.container {
  display: flex;
  flex-direction: column;
    justify-content: center;

    box-shadow: 0 4px pxgba(155, 141, 212, 0.233);
    align-items: center;

    text-align:center;
 
}




a:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #f0dc49;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


/*fix afterglow*/

a:visited {
  text-decoration: none;
  color: #fff;
}

a {
  color:#fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}










/*   flex-direction: column;
  justify-content: center;
  align-items: center;
wrap i think */


.force-overflow {
	min-height: 450px;
}





/* position: relative on element spying on, usually body*/
.nav {


}


.section, {


  overflow-y:scroll;
  display: inline-block;
 
  justify-content: space-evenly;
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  max-width: ;


  
  
  }






  .container:hover {

/*
    transition-delay:200ms;
    transition-timing-function:ease-in;
    transition-duration:600ms; /*fix*/
    */

  
  }
  

/*
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);  !!!
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.05); */
  



/*    color: #072016f5;  
  .container: background-color: #c5afaf;*/





.flex-container { 


}







* { 
  
  scroll-behavior: smooth;
  initial-letter: 2;
  

  justify-content: space-between; 
  

}


.flex-grow {
  flex: 1 0 auto;

}


/*make div containters somehow translucent bg*/

/* .navbar {
background: linear-gradient(rgba);

}



/*footer link inline*/
#footer-list, #footer-container {

 /* Optional: For improved browser support */
 white-space: normal;




 
   background: rgba(61, 34, 53, 0.603); 
  grid-area: span;
  background:linear-gradient(blur);
  backdrop-filter: blur(3px);
  text-decoration: none;
  justify-content:right;
  -webkit-backdrop-filter: blur(4.5px);
  top: 10px;
 background-blend-mode: luminosity;





}


#footer-list {



}







.myul {
  display: inline-block;
  text-align: left;


}



/* .navmake blurry effect */
.navbar-nav {
 margin: 20px;

 
   background: rgba(63, 5, 44, 0.479); 
  grid-area: span;
  background:linear-gradient(blur);
  backdrop-filter: blur(3px);
  text-decoration: none;
  justify-content: end;
  -webkit-backdrop-filter: blur(4.5px);
  top: 10px;

}

.div.container {
  text-align: center;

}






/*back to top button hidden*/
#myBtn {
  position:fixed;
  bottom: 36px;
  right: 30px;
  inline-size: 90px;
  z-index: 1000;
  cursor:grabbing;
  display: none;

}

/* #myBtn:hover {
  background-color: #555;

} */



.nav-link {
  text-decoration: none;

}

.footer:hover fab fa-linkedin{
  transform:translate3d(0,-10px,20px);
  color:#077099;
}


.navbar:hover {

  text-decoration: none;
  background-color: ;
  
}


  .nav-link:hover::before {
    transform: scaleX(1);


  }
  




.li {


}


/* scrollbar*/
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(216, 203, 203, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(24, 11, 14);
  outline: 2px solid rgb(22, 1, 6);
}






/*
glassmorphic From https://css.glass /* 


background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);  !!!
-webkit-backdrop-filter: blur(6.9px);
border: 1px solid rgba(255, 255, 255, 0.05); */
