





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
 




body, .container  {
  margin:auto;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: #06061c;
  

}
    

* { 
  font-family: 'Source Code Pro', monospace;
  scroll-behavior: smooth;
  initial-letter: 2;
  box-sizing: border-box;
  font-size:large;
  
 

}

/*popper*/
#tooltip {
  background-color: #333;
  color: #FEF9E7;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  display: block, none;
}

#arrow, #arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
  
#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);

}


/* .navbar {
background: linear-gradient(rgba);

}

.footer-nav, .FooterLinks 
/*footer-link-success */
.FooterLinks, .textbox {
  
  position:fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  text-shadow:#f5c6cb;
  text-align: left;
  list-style: none;
  display:inline-flex;
  grid-area: span;
  backdrop-filter: blur(3px);
  height: 60px;
  list-style: none;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
}



/*footer perfect beta ver*/
.textbox {
  flex-direction: row;
  flex-wrap: nowrap;
  color: #8989b191;
  grid-area: span;
  background:linear-gradient(blur);
  backdrop-filter: blur(8px);
} 

background-color: #06061c;

.container {
  background:linear-gradient(blur);
  backdrop-filter: blur(3px);
  background-color: none;
   margin: 100px;
  padding: 400px 100px;
  width: 1000px;
  height: 200px;
  display: flex;
  justify-content:space-between;
  


}




/*make blurry effect ?? neumorphism buggy */
.nav-item, .navbar {
  margin: 20px 5px;
  padding: 3px;
  height: 70px;            
  text-transform: uppercase;
  color: #8989b191;
  grid-area: span;
  background:linear-gradient(blur);
  backdrop-filter: blur(8px);
    

}



.nav-item {
  
  text-decoration: none;
  color: #9696d3d7;
  justify-content:right;
  
}



/*back to top button hidden*/
#topBtn {
  position:fixed;
  bottom: 36px;
  right: 30px;
  inline-size: 60px;
  z-index: 1000;
  cursor:pointer;
  background: none;
  

}


#portraitpic {
  width: 60px;
  height: 60px;
  display: inline-block;
 border-radius: 25px;
position: fixed;
cursor: pointer;
top: 100px;
touch-action: pinch-zoom;
      
}



 .div, .flex-item {
  align-items: center;
  align-content: center;
  color: #8989b1;
  margin: 0px 30px 0px 50px;
  padding: 100px 30px 20px 10px;
  width:max-content;
  height:max-content;
  margin: 0px; 
  display: inline-block;

  justify-content: space-evenly;
  
  
}





.FooterLinks:hover {
  color:rgba(182, 238, 200, 0.877);
 /* border: 2px solid #8989b1;  */
 cursor:pointer;

  
}


.mx-auto {
width: auto;
}


/*dismissable alert */
.movable-alert:hover {
  

}



.underline-hover:hover {
  transition: text-decoration 0.5s;
  text-decoration: underline;
  
  
}






/*updated source code pro font*/

@import 'sass.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Source+Code+Pro:wght@200;300;400&display=swap');


<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
  crossorigin="anonymous"
/> 
</style>
/* ?font-family: 'Inter', sans-serif;
font-family: 'Source Code Pro', monospace;CSS rule to specify families*/ 
