@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html{
  height: 100vh; 
  width: 100vw; 
  scroll-behavior: smooth;
  initial-letter: 2;
  box-sizing: border-box;
  
  overflow: scroll;

}


/* css variable selector - important*/
:root {
  --bgcolor: rgb(10, 6, 36);
}


.list-group-item {

  max-width: 20rem; /* 320px */
  margin: 2rem auto; /* 32px auto */
  padding: 1em; /* 16px */
  border: 5em solid #ddd; /* 1.6px */
  border-radius: 0.5em; /* 8px */


}


.carouselPresentation {



}


/* 
font-weight: weight;
font-style: normal;
*/

main {
/* Trigger vertical scroll    overflow-x: hidden;   overflow-y: scroll  */
 /*FIX flex-wrap:wrap; */

/* bug display: flex; */
overflow-y:scroll;


/* align-content: space-around; 

justify-content: flex-around;
fix  background-color: rgb(6, 6, 34); */



padding: 3rem 2rem;
background-color: rgb(7, 7, 27);






/* .item { flex-basis: 50%; } /*gives flex-items a base ideal  
margin: 0px;   height: 300px;
  padding: 0px; */
 /*flex container height, main elements inside it stay this height*/
}


body {


 



  /*
  justify-content: center;
*/





 }




 /*add flash effect*/
 .alert {
 
   font-family: "Source Code Pro", monospace;

  width: 16rem; 
  margin: 0 auto;
  font-size: 16px;




 }




.row {
  list-style:none;
  gap: 3rem;
  color: #a6cfc0;

list-style: none;
padding: 2rem 2rem;
margin: 3rem 2rem;


}


/* if 
.skills {






}
*/






 .container {
  /*flex container height, main elements inside it stay this height
   width: 250rem;
  height: 100rem;
  */

  /*top right bottom left - shorthand*/
  padding: 3rem 5rem;
  
  
  text-align:center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 30 vh;
 
  margin: 2rem 4rem;
  font-family: "EB Garamond", serif;
  flex: 2; 
  justify-content: flex-evenly;

font-size: large;


}


/* fix wrap*/
div {



}



.g-col-5 {

  
 
  flex-direction: col;


  display: inline-block;

  justify-content: space-evenly;
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */


  


}


/* flex-box item grow finish*/
.item {
  flex-grow: 1;   
}
.item-1 {
  flex-grow: 2;
}

/* li display: inline-block; */


p:hover {



 
}  

ul li {
  list-style: none;
  margin: 0 15px;




}



ul{

  transition: .5s;
  list-style: none;



  transition: .5s;


}

ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

ul li:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
















.site-title  {
  
  font-size: 2.8rem;
  font-family: "Source Code Pro", monospace;

}



#contact-card {

  
  padding: 1em; /* 16px */
  font-family: 'Source Code Pro', monospace;


}






.site-title:visited, h2:visited {
  text-decoration: none;


}


#btn-top {
  position: fixed;
  bottom: 20px;
  right: 30px;

  background-color: #333;
  color: white;

}


#skill-list {
display: inline;


}

#footer-list {




}


#main-navbar {
  margin: 20px;
  color: #f0b3c2;



padding: 0 30px;
left: 0;
right: 0;
  flex-grow: 1;
top: 0;
gap: 1rem;


padding: 1.5rem 2rem;

flex-grow: 1;
flex-shrink: 1;
flex-wrap: wrap;
list-style: none;
text-decoration: none;

}
nav fix {
background: rgba(200, 122, 164, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);

}

.skills {
 flex-direction: row;
 flex-wrap: wrap;
text


}

.nav-item { /* From https://css.glass */


  
  }
  



.navbar-nav:hover {

  text-decoration: none;
 /* background-color: ;  */

}

.row {

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  flex-direction: column; /*fix*/
}



p {

  font-family: "DM Sans", sans-serif;


}
/* Change the color of the first line in a paragraph */
.container::first-line {
 
  font-weight: bold;
}


.force-overflow {
	min-height: 450px;
}

footer {

  /* Optional: For improved browser support */
  white-space: normal;
 
  font-family: "Source Code Pro", monospace;
 
   grid-area: span;
   background:linear-gradient(blur);
   backdrop-filter: blur(3px);
   text-decoration: none;
 
   -webkit-backdrop-filter: blur(4.5px);
   top: 80px;
  background-blend-mode: luminosity;
 
 /*
 glassmorphic From https://css.glass */
 
 
 border-radius: 14px;g 
 backdrop-filter: blur(6.9px); 
 -webkit-backdrop-filter: blur(6.9px);
 
 
 
 }
 
 #footer-list {
  -webkit-backdrop-filter: blur(4.5px);



}


.myul {
  display: inline-block;
  text-align: left;


}



/*back to top button 
#btn-top {
  position:fixed;
  bottom: 36px;
  right: 30px;
  inline-size: 90px;
  z-index: 1000;
  cursor:grabbing;
  display: none;

}
*/

/* scrollbar*/

/* hero section*/

.img{
  margin-left: -100px;
  right: -60px;
 }
 
 .display-1{
   font-size: 160px;
   font-weight: 1000;
 
 }
 
 .position-absolute{
   font-weight: 700;
 }


 border-radius: 14px;g 
backdrop-filter: blur(6.9px); 
-webkit-backdrop-filter: blur(6.9px);



}


#footer-list {
  -webkit-backdrop-filter: blur(4.5px);



}


/* /???*/
.col {
  justify-content: center;
  align-items: center;
  display: inline-block;


}



.myul {
  display: inline-block;
  text-align: left;


}




/*back to top button hidden*/
#myBtn {
  position:fixed;
  bottom: 36px;
  right: 30px;
  inline-size: 90px;
  z-index: 1000;
  cursor:grabbing;
  display: none;

}

/* #myBtn:hover {
  background-color: #555;

} 

.li {


}






*/

/* scrollbar*/
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(216, 203, 203, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(24, 11, 14);
  outline: 2px solid rgb(22, 1, 6);
}


/* hero area */

.about-img{
 margin-left: -100px;
 right: -60px;
}

.display-1{
  font-size: 160px;
  font-weight: 1000;
 
}

.position-absolute{
  font-weight: 700;
}

/*margin padding spacing*/
.mt-0 {
  margin-top: 0 !important;
}

.ms-1 {
  margin-left: ($spacer * .25) !important;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.p-3 {
  padding: $spacer !important;
}


/* media query example */
#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {

#wrapper {width:90%;  margin: 0 auto; }

#content {width:70%; float:left; }

#sidebar {width:30%; float:right; }

// Large devices (desktops, 992px and up)

@media (min-width: 992px) { ... }

}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {

#wrapper {width:90%;  margin: 0 auto; }

}