@ -42,56 +42,37 @@ font-family: 'Source Code Pro', monospace; font for footer and nav,
  font-family: "EB Garamond", serif;

/* apply this theme to homepage id */ /*main is container w control of children elements */
main {
main  {

  margin:auto;
  overflow:hidden;
  
 
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  /*important*/
  display: flex;  /*important for div or containher*/
  display: flex;  

  
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  align-content: space-around;
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden; /*idk*/

  padding: 70px 40px;
  background-color: rgb(27, 27, 32);

 
  
  flex-flow: column wrap;
  cursor: crosshair;
justify-content: flex-around;


.item { flex-basis: 50%; } /*gives flex-items a base ideal*/
height: 300px; /*flex container height, main elements inside it stay this height*/
}

/* sass */
.mt-0 {
  margin-top: 0 !important;
}

.ms-1 {
  margin-left: ($spacer * .25) !important;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.p-3 {
  padding: $spacer !important;
}


/*
.item 
 flex-basis: 50%;  /*gives flex-items a base ideal
height: 300px; /*flex container height, main elements inside it stay this height
*/


/* 	background: linear-gradient(50deg, hsl(0 0% 50% / 0.25), transparent), hsl(0 0% 0%);
@ -162,11 +143,13 @@ cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height


body {
  margin: 0px;
  padding: 0px;

  background-color: rgb(27, 27, 32);
  font-family: "DM Sans", sans-serif;


}

/*padding shorthand fix*/
  div {
    padding: 25px 50px 75px;
@ -182,27 +165,16 @@ body {

}

  div:hover {
    color: #8ca898;
   /* text-shadow:0px 0px 30px #e7e7c0bd; */
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    li { display: inline-block; }
}  

}

/* flex-box item grow finish*/
.item {
    flex-grow: 1;   
  flex-grow: 1;   
}
.item-1 {
    flex-grow: 2;
  flex-grow: 2;
}

/*
.d-flex{
  gap:20px;
@ -238,7 +210,8 @@ card main example
  margin: 2rem auto; /* 32px auto */
  padding: 1em; /* 16px */
  border: 0.1em solid #ddd; /* 1.6px */
  border-radius: 0.5em; /* 8px 
  border-radius: 0.5em; 
}


!!!! 1em;  16px 
@ -259,7 +232,7 @@ card main example
  display: inline-block;
 
  justify-content: space-evenly;
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */

  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  background-color: #160a31d8;
  font-family: "EB Garamond", serif;
@ -292,13 +265,13 @@ card main example


/*nav list fix selector*/
.navbar {
#main-navbar {
  margin: 20px;
  color: #c1d8cb;
   grid-area: span;
   background:linear-gradient(blur);
   text-decoration: none;
   -webkit-backdrop-filter: blur(4.5px);

  position: sticky;
 
padding: 0 300px;
@ -328,13 +301,6 @@ text-decoration: none;
}


.navbar-after-scroll {
  background-color: #c5afaf;



}


.nav-link {

@ -372,22 +338,31 @@ flex-direction: row;
*/

div {
  /*
  cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1021.cur), fix */


  flex-grow: 1;
  flex-shrink: 1;

  width: 300px;
  padding: 25px;
  box-sizing: border-box;
margin: 10px;   /*space around element border*/
flex-wrap: wrap;
align-items:stretch;



}



/*   backdrop-filter: blur(6.9px);  
  -webkit-backdrop-filter: blur(6.9px);*/


.container {
  
  

justify-content: center;
position: relative; 
align-items: center;
@ -396,7 +371,7 @@ text-align:center;

  display: flex; /*keep*/ 
  flex-wrap: wrap;
  background-color: #c5afaf;


  flex-grow: 1;
  flex-shrink: 1;
@ -482,30 +457,15 @@ background: linear-gradient(rgba);


/*footer link inline*/
#foooter {
#footer-list {

 /* Optional: For improved browser support */
 white-space: normal;



  grid-area: span;
  background:linear-gradient(blur);
  backdrop-filter: blur(3px);
  text-decoration: none;
 
  -webkit-backdrop-filter: blur(4.5px);
  top: 80px;
 background-blend-mode: luminosity;

/*
glassmorphic From https://css.glass */


border-radius: 14px;g 
backdrop-filter: blur(6.9px); 
-webkit-backdrop-filter: blur(6.9px);



}
